<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>
        {% block title %}
        | Flask app
        {% endblock %}
    </title>

</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="solutions">Solutions<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="showSignUp">Sign Up</a>
                    </li>

{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            Dropdown link#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a class="dropdown-item" href="#">Action</a>#}
{#                            <a class="dropdown-item" href="#">Another action</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item" href="#">Something else here</a>#}
{#                        </div>#}
{#                    </li>#}
                </ul>

                <form class="form-inline my-2 my-lg-0" method="GET">
{#                     request.args уже есть во Flask, request - объект, args - словарь #}
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
{#                      #}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
    </nav>
</div>

{% block content_title %}
{% endblock %}

<div class="container">
    <div class="jumbotron">
        <p>
            <a class="btn btn-outline-primary btn-sm" href="/brother" role="button">Brother</a>
            <a class="btn btn-outline-primary btn-sm" href="/canon" role="button">Canon</a>
            <a class="btn btn-outline-primary btn-sm" href="/epson" role="button">Epson</a>
            <a class="btn btn-outline-primary btn-sm" href="/hp" role="button">HP</a>
            <a class="btn btn-outline-primary btn-sm" href="/konica_minolta" role="button">Konica Minolta</a>
            <a class="btn btn-outline-primary btn-sm" href="/kyocera" role="button">Kyocera</a>
            <a class="btn btn-outline-primary btn-sm" href="/lexmark" role="button">Lexmark</a>
            <a class="btn btn-outline-primary btn-sm" href="/oki" role="button">OKI</a>
            <a class="btn btn-outline-primary btn-sm" href="/panasonic" role="button">Panasonic</a>
            <a class="btn btn-outline-primary btn-sm" href="/ricoh" role="button">Ricoh</a>
            <a class="btn btn-outline-primary btn-sm" href="/samsung" role="button">Samsung</a>
            <a class="btn btn-outline-primary btn-sm" href="/sharp" role="button">Sharp</a>
            <a class="btn btn-outline-primary btn-sm" href="/xerox" role="button">Xerox</a>
        </p>
    </div>


{% block content %}
{% endblock %}

    <footer class="footer">
        <p>&copy; Company 2020</p>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>